body {
  background: linear-gradient(to bottom, #6f42c1, #222);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.header-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header-text h2 {
  font-size: 16px;
}

.share-button {
  position: relative;
}

.share-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("share-icon.png");
  background-size: cover;
}

.links-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr; /* Display a single column on mobile */
  grid-gap: 20px;
}

.links-list li {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.links-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #333;
  text-decoration: none;
  color: #fff;
}

.links-list li a span {
  font-size: 14px;
}

.links-list li a:hover {
  background-color: #6f42c1;
}

.share-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.share-popup.show {
  display: block;
}

.share-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.share-popup ul li {
  margin-bottom: 5px;
}

.share-popup ul li a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #6f42c1;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.share-popup ul li a:hover {
  background-color: #555;
}
